<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Book Store</title>
</head>
<style>
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html,
    body {
      width: 100%;
      padding: 0 0.2rem 0 0.2rem;
    }
    .styled-table {
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      font-size: 0.9em;
      font-family: sans-serif;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
    }
    .styled-table th,
    .styled-table td {
      padding: 12px 15px;
    }

    .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
    .nav-bar {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;
    }
    form:nth-child(1) {
      grid-row: 2 / 3;
      grid-column: 1 / span 11;
      display: flex;
    }
    form:nth-child(2) {
      grid-row: 1 / 2;
      grid-column: 12 / span 1;
      display: flex;
    }
    form:nth-child(3) {
      grid-row: 2 / 3;
      grid-column: 12 / span 1;
      display: flex;
    }
    input:not([type='search']) {
      background-color: #4caf50;
      border: none;
      color: white;
      text-decoration: none;
      cursor: pointer;
      padding: 16px 32px;
      font-size: 17px;
      margin: 0.1rem;
    }
    input[type='submit'] {
      flex: 1;
    }
    input[type='search'] {
      flex: 12;
      margin: 0.1rem;
    }
    .table-container {
      overflow: auto;
      width: 100%;
      display: flex;
      margin-top: 5%;
    }
    .table-container>table{
        width: 70%;
    }

    /* Responsive */

    @media screen and (max-width: 768px) {
      .nav-bar {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto auto;
      }
      form:nth-child(1) {
        grid-row: 1 / 2;
        grid-column: 1 / span 12;
        flex-direction: column;
      }
      form:nth-child(2) {
        grid-row: 2 / 3;
        grid-column: 1 / span 12;
      }
      form:nth-child(3) {
        grid-row: 3 / 4;
        grid-column: 1 / span 12;
      }
      input[type='search'] {
        padding: 16px 32px;
      }
    }

</style>
<body>
<div>
    <h1>Book Store</h1>
</div>

<form method="get" style="float:right;" th:action="@{/admin}">
    <input type="submit" value="Add/Edit"/>
</form>

<form method="get" th:action="@{/books/search}">
    <input name="keyword" placeholder="keyword" required
           size="50" type="search"/>
    <input type="submit" value="Search"/>
</form>
<table class="styled-table" id="table1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Year</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book: ${listBook}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.description}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>